motor
aiohttp
requests
python-telegram-bot==20.6
pymongo 
pyrate-limiter==3.1.0
apscheduler==3.6.3
pyrogram
tgcrypto 
python-dotenv
cachetools 
flask==2.3.2
Flask[async]

#stiker.pys

python-dotenv==0.21.1
cachetools==5.5.0

tgcrypto==1.2.5
# Other dependencies...


Pillow
